{{extend 'layout.html'}}
<h1 class="text-center">{{=bowls[0].name}}</h2>
{{if bowls[0].final_result:}}
<h2 class="text-center">{{=bowls[0].final_result}}</h2>
{{pass}}
{{num=0}}
{{if len(picks1) > len(picks2):}}
	{{total_count=len(picks1)}}
{{else:}}
	{{total_count=len(picks2)}}
{{pass}}
<br>
<table class="table table-hover">
<tr>
<th>{{=bowls[0].team1.teamname}} Picks</th>
<th>{{=bowls[0].team2.teamname}} Picks</th>
</tr>
{{for i in range(0,total_count):}}
{{try:}}
{{result1=picks1[num].person.person}}
{{except:}}
{{result1=""}}
{{pass}}
{{try:}}
{{result2=picks2[num].person.person}}
{{except:}}
{{result2=""}}
{{pass}}
<tr>
<td>{{if result1:}}<a href="{{=URL('picks', args=picks1[num].person)}}">{{=result1}}</a>{{else:}}{{=result1}}{{pass}}</td><td>{{if result2:}}<a href="{{=URL('picks', args=picks2[num].person)}}">{{=result2}}</a>{{else:}}{{=result2}}{{pass}}</td>
</tr>
{{num+=1}}
{{pass}}
</table>